html {
  height: 100%;
  font-size: 62.5%;
}
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: "ヒラギノ角ゴ ProN",Arial,sans-serif,"FOT-筑紫B丸ゴシック Std","貂明朝テキスト","DNP 秀英丸ゴシック Std","游ゴシック体";
}
.main {
  width: 50%;
  margin: 0 auto;
  height: auto;
}
/* ヘッダー */
header {
  height: 56px;
  width: auto;
  position: absolute;
}

.logo {
  margin-left: 56px;  
  margin-top: 24px;
}

/* ハンバーガーアイコンの設置スペース */
/* チェックボックスは非表示に */
.drawer-hidden {
  display: none;
}

.drawer-open {
  display: flex;
  height: 56px;
  width: 15%;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 100;/* 重なり順を一番上に */
  cursor: pointer;
  float: right;
  z-index: 100;
  position: fixed;
  top: 0px;
  right: 0px;
}

/* 三本線のうち一番上の棒の位置調整 */
.drawer-open span:before {
  bottom: 8px;
}

/* 三本線のうち一番下の棒の位置調整 */
.drawer-open span:after {
  top: 8px;
}

/* アイコンがクリックされたら真ん中の線を透明にする */
#drawer-check:checked ~ .drawer-open span {
  background: rgba(255, 255, 255, 0);
}

/* アイコンがクリックされたらアイコンが×印になように上下の線を回転 */
#drawer-check:checked ~ .drawer-open span::before {
  bottom: 0;
  transform: rotate(45deg);
}
#drawer-check:checked ~ .drawer-open span::after {
  top: 0;
  transform: rotate(-45deg);
}
/* メニューのデザイン*/
.drawer-content {
  width: 30%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 100%;/* メニューを画面の外に飛ばす */
  z-index: 99;
  background: rgba(12, 12, 12, 0.911);
  transition: .5s;
  text-align: center;
  padding-top: 104px;
}

.drawer-content ul {
  list-style: none;
}

.drawer-content a {
  color: white;
}

/* アイコンがクリックされたらメニューを表示 */
#drawer-check:checked ~ .drawer-content {
  left: 70%;/* メニューを画面に入れる */
}
/* チェックボックスは非表示に */
.drawer-hidden {
  display: none;
}
/*ハンバーガーメニュー*/
.drawer-open span,
.drawer-open span::before,
.drawer-open span::after {
  content: '';
  display: block;
  height: 3px;
  width: 24px;
  border-radius: 3px;
  background: #fff;
  transition: 0.5s;
  position: absolute;
}

.drawer-item {
  font-size: 2rem;
  padding-bottom: 40px;
}

.drawer {
  display: block;
}

.burger-musk {
  background-color: rgba(56, 56, 56, 0.603);
  width: 100%;
  height: 100%;
  position: fixed;
  padding: 0;
  margin: 0;
  top: 0;
  z-index: 50;
  display: none;
}

.drawer-open.change span,
.drawer-open.change span:before,
.drawer-open.change span:after {
  content: '';
  display: block;
  height: 3px;
  width: 24px;
  border-radius: 3px;
  background: #222;
  transition: 0.5s;
  position: absolute;
}
.drawer-open .change {
display: flex;
height: 60px;
width: 15%;
justify-content: center;
align-items: center;
position: relative;
z-index: 100;/* 重なり順を一番上に */
cursor: pointer;
float: right;
z-index: 100;
position: fixed;
top: 0px;
right: 0px;
}

body.nonscroll {
  overflow: hidden;
}
.menu {
  display: block;
  font-size: 1rem;
  text-transform: uppercase;
  color: #fff;
  font-weight: bold;
  float: right;
  margin-left: 104px;
  padding-top: 0;
  font-family: 'arial black';
}
.color {
  color:#fff!important;
}
.copy {
  color: #fff;
  display: block;
  margin-bottom: 16px;
  font-size: 1.2rem;
}

.copy-size p {
  margin-left: 8px;
}

.copy-size h1 {
  font-family: 'arial black';
  margin-top: 0;
  font-size: 4.5rem;
}

.company {
  z-index: 100;
  padding-top: 184px;
  margin-right: -184px;
  display: flex;
  justify-content: flex-end;
}

/*ファーストビュー*/
.contents {
  height: 90%;
}

.first {
  background-image: url(img/heading-img_contact.png);
  height: 60%;
  width: 80%;
  background-size: cover;
  z-index: 5;
  padding: 0;
  margin: 0;
}
.first::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #222;
  width: 50%;
  height: 70%;
  z-index: -1;
}

/*フォーム*/
.radio {
  font-size: 1rem;
  margin-right: 64px;
}
.text-p {
  font-size: 1rem;
  color: rgb(80, 79, 79);
  margin-bottom: 24px;
}
.form-text,.form input,.form textarea {
  width: 100%;
}
.form input {
  height: 40px;
}
.form textarea {
  height: 256px;
}
.form-text {
  margin-top: 56px;
  font-size: 1rem;
  display: inline-block;
  width: 25%;
  margin-bottom: 16px;
}
.tell {
  margin-top: 56px;
  font-size: 1rem;
  display: inline-block;
  width: 15%;
  margin-bottom: 16px;
}
.mail {
  margin-top: 56px;
  font-size: 1rem;
  display: inline-block;
  width: 20%;
  margin-bottom: 16px;
}
.policy {
  width: 50%;
  margin-top: 56px;
  font-size: 1rem;
  margin-bottom: 16px;
}
.must {
  font-size: 0.8rem;
  background-color: #222;
  color: #fff;
  display: inline-block;
  padding: 3px 3px;
}
.form {
  color: rgb(80, 79, 79);
}
.check {
  text-align: center;
  margin: 40px 0;
}

.form-btn {
  text-align: center;
  margin: 64px 0 104px 0;
}

.form-btn a {
  color: #fff;
  background-color: #222;
  padding: 24px 80px;
  font-size: 1rem;
}
/*フッター*/
.footer {
  height: 56px;
  background-color: rgba(92, 91, 91, 0.925);
  margin-top: 0;
  z-index: 100;
}
.footer p {
  line-height: 56px;
  color: #fff;
  text-align: center;
  font-size: 0.2rem;
  margin: 0;
}
.form textarea {
  white-space: pre-line;
  font-size: 0.8rem;
}
