@media (max-width: 670px){
  .main {
    width: 80%;
  }
/*ハンバーガーメニュー*/
.drawer-contet {
  width: 5%;
}
  .menu {
    margin-right: 32px;
    font-size: 0.2rem;
  }
  .drawer-open {
    right: 40px;
}
.drawer-item {
  font-size: 1.5rem;
}
/*トップ*/
.company {
  padding-top: 0;
  display: flex;
  justify-content: flex-end;
  margin-right: -64px;
}
.copy-size {
  margin-top: 152px;
}
.contents {
  height: 80%;
}
.copy-size p {
  font-size: 1rem;
}
.copy-size h1 {
  font-size: 3rem;
}
.logo {
  width: 60%;
  margin-left: 24px;
}
.first {
  height: 80%;
}
.first::after {
  height: 75%;
}

/*フォーム*/
.radio {
  font-size: 0.8rem;
  margin-right: 0;
}
.text-p {
  font-size: 0.8rem;
}
.form-text {
  font-size: 0.8rem;
  width: 40%;
}
.tell {
  font-size: 0.8rem;
  width: 20%;
}
.mail {
  font-size: 0.8rem;
  width: 50%;
}
.policy {
  font-size: 0.8rem;
}
.must {
  font-size: 0.6rem;
}
.check {
  font-size: 0.8rem;
}
.form textarea {
  font-size: 0.8rem;
}
} 
